# Object files
*.o

# Compiler-generated assembly files
src/sha1-mb-x86_64.s
src/sha256-mb-x86_64.s

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe
*.out

# demo add new